@import 'normalize', 'variables',
'grid';
body {
    background: $light-grey;
}

nav {
    height: 5em;
    background-color: red;
}

main {
   
    background-color: blue;
    overflow: hidden;
}

.place {
    height: 20em;
    background-color: green;
    margin-bottom: 1em;
}


