.container {
    margin-top: 3em;
    .input-field {
        #search {
            border-bottom: 1px solid blue;
        }
    }
}
.herdl-pagination {
    text-align: center;
}

.material-icons {
	color: #888;
}

.selected {
	color: coral;
}